
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: "Salsa" , BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
@layer components {
  .main-container {
    @apply container mx-auto px-24;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .center_column {
    @apply flex flex-col items-center justify-center;
  }
  .center_between {
    @apply flex items-center justify-between;
  }
  .start_column {
    @apply flex flex-col items-start justify-center;
  }
  .navSpan {
    @apply h-16  flex items-center justify-evenly cursor-pointer  relative;
  }
  .resNavDiv {
    @apply w-full p-2 text-white text-start text-lg font-bold border border-gray-800 bg-gray-700 capitalize;
  }
  .navH1 {
    @apply text-base font-bold capitalize;
  }
  .bookingbutton {
    @apply bg-gradient-to-tr from-[#9A1BFE] to-[#3BA5FD] hover:scale-95 transition-transform duration-300 ease-in-out hover:bg-gradient-to-tr hover:from-[#3BA5FD] hover:to-[#9A1BFE] text-white font-bold py-3 px-6 md:py-3 md:px-4 mt-4 rounded-3xl;
  }
  .bookingbutton1 {
    @apply bg-gradient-to-tr from-[#9A1BFE] to-[#3BA5FD] hover:scale-95 transition-transform duration-300 ease-in-out hover:bg-gradient-to-tr hover:from-[#3BA5FD] hover:to-[#9A1BFE] text-white font-bold mt-4 rounded;
  }
}


.notchedOutline {
  border: none !important;
}
.input-field {
  background-color: white !important;
  border-radius: 0.25rem !important;
  width: 100% !important;
}
.input-field_one {
  height: 0.6rem !important;
  min-height: 0.5rem !important;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100% !important;
}
.mui-multi-row .input-field {
  padding: 16.5px 14px;
}
.mui-multi-row .MuiInputBase-multiline {
  padding: 0 !important;
}

.center_column_between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.my_animation_slide {
  animation: slide 0.3s ease-in-out;
}

.discount-card:hover::before {
  animation: shine 1.3s;
  display: block;
}
.discount-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  display: none;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.outline-style input:focus {
  outline-width: 0px !important;
}

.filter-select fieldset:hover {
  border: none;
}
.filter-select fieldset {
  border: none;
}

.select .MuiInputBase-input {
  color: rgb(92, 92, 92) !important;
}

.logoWarper {
  filter: drop-shadow(1px 1px 1px rgb(98, 98, 98));
}
.logoWarper_two {
  filter: drop-shadow(10px 15px 15px rgb(0, 0, 9));
}
.logoWarper_one {
  filter: drop-shadow(0px 0px 01px rgb(255, 255, 255));
}
.gradient-text_3 {
  background: linear-gradient(
    91.58deg,
    #23003d 25.86%,
    #8469ee 45.86%,
    #fd3b3b 71.46%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text_4 {
  background: linear-gradient(91.58deg, #1d3468, #1d3468);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cardShadow {
  box-shadow: 7px 7px 15px 0px #0e1015;
}
.slick-dot li {
  background: white;
  font-size: 4rem;
  list-style: disc;
}
.slick-dots li button:before {
  color: rgb(28, 17, 128) !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}
.focusItem fieldset {
  border-color: #e7e7e7 !important;
}
/* -------------------------------------------------------------------------------------------------- */
/* Animations */

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


@keyframes shine {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 1;
  }
}